/* TODO */

/** Green Treeline: #478559

**Purple baseline: 161748

**Pink highlight: f95d9b

**Bluewater lowlight: 39a0ca
*/

.App {
    height: 100vh;
    width: 100vw;
    background-color: white;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ hide scroll bar*/
    scrollbar-width: none;  /* Firefox */
}
.App::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.Header{
    margin-left: 5%;
}

h1, h2{
    color: #161748;
}

/* START DAYEVENT COMPONENT */

.day-event{
    display: flex;
    flex-direction: row;
    height: 7%;
    width: 75%;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    
}

.delete-day-event{
    height: fit-content;
    width:fit-content;
    background-color: red;
}

.delete-day-event:hover{
    background-color: darkred;
}

/* END DAYEVENT COMPONENT */

/* START DAY COMPONENT */

.day-container{
    border: 1px solid black;
    width: calc(100vw / 10);
    height:150px;
    background-color: #f95d9b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day-num{
    position: relative;
    top: -14px;
    left: 2px;
}

.create-event-button{
    background-color: #39a0ca;
    border-left: none;
    border-bottom: 1px;
    width: 50%;
    height: 20%;
    font-size: 10px;
}

.show-more-icon{
    
}

/* END DAY COMPONENT */

/* START WEEK COMPONENT */
.week{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
}
/* END WEEK COMPONENT */

/*START MONTH COMPONENT */
.month{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    margin-right: 10%;
    padding: 40px;
    background-image: linear-gradient(to right, #478559, white);
}
/*END MONTH COMPONENT */